@import 'tailwindcss';
@plugin "@tailwindcss/typography";


@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width:1400px;
}

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface)
  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));
  --color-border: var(--border);
  --font-Satoshi: Satoshi, sans-serif;
  --font-Synonym: Synonym, sans-serif;
  --font-SplineSans: Spline Sans, sans-serif;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --animate-ripple: ripple 1.5s ease-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
  @keyframes ripple {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2.2);
      opacity: 0;
    }
  }
}

:root {
  --background: #f6f8ff;
  --foreground: #171717;
  --border: #f3f4f6;

  --primary: #bfff00;
  --surface: #EEEEEE;

  --secondary: #f3f4f6;
  --secondary-foreground: #111827;

  --muted: #f3f4f6;
  --muted-foreground: #6b7280;

  --accent: #f3f4f6;
  --accent-foreground: #111827;

  --destructive: #ef4444;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #2563eb;

  --radius: 0.5rem;
}


body {
  background-color: var(--background);
}


.rte-editor .tiptap {
  @apply h-60 overflow-y-auto p-4 outline-hidden text-foreground/80;
}
.rte-editor .tiptap a {
  @apply text-blue-500 underline cursor-pointer;
}
.rte-editor .tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: var(--foreground-muted);
  pointer-events: none;
  float: left;
  height: 0;
}

.rte-editor .tiptap h1 { @apply text-3xl font-bold mb-3; }
.rte-editor .tiptap h2 { @apply text-2xl font-semibold mb-2; }

.rte-editor .tiptap h3 {
  @apply text-xl font-semibold mb-2 ;
}


.rte-editor .tiptap ul { @apply list-disc ml-6 ; }

.rte-editor .tiptap ol {
  @apply list-decimal ml-6 ;
}

.rte-editor .tiptap blockquote {
  @apply border-l-4 border-gray-600 pl-4 italic text-foreground;
}

.rte-editor .tiptap pre {
  @apply bg-gray-900 text-gray-100 rounded-md p-3 overflow-x-auto;
}

.rte-editor .tiptap code {
  @apply bg-gray-800 text-pink-400 px-1 py-0.5 rounded;
}

.prose p:empty::before {
  content: "\00a0";
  display: inline-block;
}

.prose p + br + p {
  margin-top: 2rem; /* consistent visual breathing room, not tied to line count */
}
